/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 40px; /* Updated due to bug in Firefox (the picks weren't showing up). This was happening in the original Treehouse files as well */
  padding: 10px;
}

table {
    border: 1px solid grey;
}

table caption {
    font-weight: bold;
}
